
#sidebar {
    position: absolute;
		z-index: 10;
    right: 10px;
    width: auto;
    top:10px;
    height:auto;
    overflow-y: auto;
    padding: 20px;
		background-color: rgba(0, 0, 0, 0.6);
		box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.6);
		border-radius: 30px;
		text-align: center;
}

.text {
	color : white;
}

#title{
  height: 90px;
	width: 300px;
	font-size: 65px;
	text-align: center;
	font-weight: 550;
	background: linear-gradient(to bottom right, rgb(206, 17, 38), rgb(252, 209, 22), rgb(0, 107, 63));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
#desc{
  height:40px;
  padding:5px;
}

#locale{
	padding: 10px;
}
#geoinfo{
  clear: both;
}

.current{
	padding: 10px 20px 10px 0px;
	float:left;
}
#staticmap{
	margin:auto;
	left:50%;
	border-radius: 30px;
}
